.env
chillzone
t
schedule.json
subjectDetails.json
all_subjects.json
empty_schedule.json
.idea
.vscode/
*.xlsx
frontend/node_modules/
frontend/coverage/
frontend/build/
__pycache__/
other-years-scraper/other-years-scraper
